/src/maps/maps/celisca_floor_1_furniture/meshes/celisca_floor_1_furniture.stl filter=lfs diff=lfs merge=lfs -text
/src/maps/maps/celisca_floor_2_furniture/meshes/celisca_floor_2_furniture.stl filter=lfs diff=lfs merge=lfs -text
