<?xml version="1.0"?>
<model>
  <name>bumperbot_description</name>
  <version>1.0</version>
  <sdf version="1.7">urdf/bumperbot.urdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>
    Bumperbot Description package as a Gazebo model.
  </description>
</model>
